In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("tips.csv")
print(df.head())
print()
print(df.tail())
print()
print(df.sample(5))

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

     total_bill   tip     sex smoker   day    time  size
143       27.05  5.00  Female     No  Thur   Lunch     6
51        10.29  2.60  Female     No   Sun  Dinner     2
140       17.47  3.50  Female     No  Thur   Lunch     2
118       12.43  1.80  Female     No  Thur   Lunch     2
24        19.82  3.18    Male     No   Sat  Dinner     2

In [3]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [4]:
df.shape

(244, 7)

In [5]:
df.size

1708

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [7]:
df.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [8]:
df.describe

<bound method NDFrame.describe of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [9]:
df.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [10]:
df.isna().mean()*100

total_bill    0.0
tip           0.0
sex           0.0
smoker        0.0
day           0.0
time          0.0
size          0.0
dtype: float64

In [11]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [12]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

##### ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [13]:
print(
    f"Tips operations:\n"
    f"Min value from tips: {df['tip'].min()}\n"
    f"Max value from tips: {df['tip'].max()}\n"
    f"Mean value from tips: {df['tip'].mean()}\n"
    f"Median value from tips: {df['tip'].median()}\n"
    f"Mode value from tips: {df['tip'].mode()}"
)

Tips operations:
Min value from tips: 1.0
Max value from tips: 10.0
Mean value from tips: 2.99827868852459
Median value from tips: 2.9
Mode value from tips: 0    2.0
Name: tip, dtype: float64

In [14]:
bins = [0, 2, 5, 10]
labels = ['Low', 'Medium', 'High']

df['tips_range'] = pd.cut(df['tip'], bins=bins, labels=labels)

In [15]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'tips_range'],
      dtype='object')

In [16]:
df['tips_range'].value_counts()

tips_range
Medium    148
Low        78
High       18
Name: count, dtype: int64

In [17]:
print(
    f"Tips operations:\n"
    f"Min value from total_bill: {df['total_bill'].min()}\n"
    f"Max value from total_bill: {df['total_bill'].max()}\n"
    f"Mean value from total_bill: {df['total_bill'].mean()}\n"
    f"Median value from total_bill: {df['total_bill'].median()}\n"
    f"Mode value from total_bill: {df['total_bill'].mode()}"
)

Tips operations:
Min value from total_bill: 3.07
Max value from total_bill: 50.81
Mean value from total_bill: 19.78594262295082
Median value from total_bill: 17.795
Mode value from total_bill: 0    13.42
Name: total_bill, dtype: float64

In [18]:
for cols in df.columns:
    print(f"{cols} : {df[cols].unique()}" if len(df[cols].unique())<20 else " ")

sex : ['Female' 'Male']
smoker : ['No' 'Yes']
day : ['Sun' 'Sat' 'Thur' 'Fri']
time : ['Dinner' 'Lunch']
size : [2 3 4 1 6 5]
tips_range : ['Low', 'Medium', 'High']
Categories (3, object): ['Low' < 'Medium' < 'High']

In [19]:
print("For smoker and non smoker")
print(df['smoker'].value_counts())
print("For Gender :  ")
print(df['sex'].value_counts())
print("For day")
print(df['day'].value_counts())
print("for time")
print(df['time'].value_counts())
print("for size of members")
print(df['size'].value_counts())

For smoker and non smoker
smoker
No     151
Yes     93
Name: count, dtype: int64
For Gender :
sex
Male      157
Female     87
Name: count, dtype: int64
For day
day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64
for time
time
Dinner    176
Lunch      68
Name: count, dtype: int64
for size of members
size
2    156
3     38
4     37
5      5
1      4
6      4
Name: count, dtype: int64

In [20]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [21]:
df.info

<bound method DataFrame.info of      total_bill   tip     sex smoker   day    time  size tips_range
0         16.99  1.01  Female     No   Sun  Dinner     2        Low
1         10.34  1.66    Male     No   Sun  Dinner     3        Low
2         21.01  3.50    Male     No   Sun  Dinner     3     Medium
3         23.68  3.31    Male     No   Sun  Dinner     2     Medium
4         24.59  3.61  Female     No   Sun  Dinner     4     Medium
..          ...   ...     ...    ...   ...     ...   ...        ...
239       29.03  5.92    Male     No   Sat  Dinner     3       High
240       27.18  2.00  Female    Yes   Sat  Dinner     2        Low
241       22.67  2.00    Male    Yes   Sat  Dinner     2        Low
242       17.82  1.75    Male     No   Sat  Dinner     2        Low
243       18.78  3.00  Female     No  Thur  Dinner     2     Medium

[244 rows x 8 columns]>

##### sex : ['Female' 'Male']
##### smoker : ['No' 'Yes']
##### day : ['Sun' 'Sat' 'Thur' 'Fri']
##### time : ['Dinner' 'Lunch']
##### size : [2 3 4 1 6 5]

In [22]:
df['sex'] = df['sex'].map({'Male':1,'Female':0})
df['smoker'] = df['smoker'].map({'Yes':1,'No':0})
df['day'] = df['day'].map({'Thur':0,'Fri':1,'Sat':2,'Sun':3})
df['time'] = df['time'].map({'Dinner':0,'Lunch':1})
df['tips_range'] = df['tips_range'].map({'Low':0,'Medium':1,'High':2})

df

     total_bill   tip  sex  smoker  day  time  size tips_range
0         16.99  1.01    0       0    3     0     2          0
1         10.34  1.66    1       0    3     0     3          0
2         21.01  3.50    1       0    3     0     3          1
3         23.68  3.31    1       0    3     0     2          1
4         24.59  3.61    0       0    3     0     4          1
..          ...   ...  ...     ...  ...   ...   ...        ...
239       29.03  5.92    1       0    2     0     3          2
240       27.18  2.00    0       1    2     0     2          0
241       22.67  2.00    1       1    2     0     2          0
242       17.82  1.75    1       0    2     0     2          0
243       18.78  3.00    0       0    0     0     2          1

[244 rows x 8 columns]

In [23]:
df.head()

   total_bill   tip  sex  smoker  day  time  size tips_range
0       16.99  1.01    0       0    3     0     2          0
1       10.34  1.66    1       0    3     0     3          0
2       21.01  3.50    1       0    3     0     3          1
3       23.68  3.31    1       0    3     0     2          1
4       24.59  3.61    0       0    3     0     4          1

In [24]:
df.tail()

     total_bill   tip  sex  smoker  day  time  size tips_range
239       29.03  5.92    1       0    2     0     3          2
240       27.18  2.00    0       1    2     0     2          0
241       22.67  2.00    1       1    2     0     2          0
242       17.82  1.75    1       0    2     0     2          0
243       18.78  3.00    0       0    0     0     2          1

In [25]:
df.describe()

,total_bill,tip,sex,smoker,day,time,size
count,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000
mean,19.785943,2.998279,0.643443,0.381148,1.725410,0.278689,2.569672
std,8.902412,1.383638,0.479967,0.486667,1.155774,0.449276,0.951100
min,3.070000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,13.347500,2.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,17.795000,2.900000,1.000000,0.000000,2.000000,0.000000,2.000000
75%,24.127500,3.562500,1.000000,1.000000,3.000000,1.000000,3.000000
max,50.810000,10.000000,1.000000,1.000000,3.000000,1.000000,6.000000

In [26]:
df.corr()

,total_bill,tip,sex,smoker,day,time,size,tips_range
total_bill,1.000000,0.675734,0.144877,0.085721,0.173693,-0.183118,0.598315,0.552709
tip,0.675734,1.000000,0.088862,0.005929,0.135499,-0.121629,0.489299,0.819474
sex,0.144877,0.088862,1.000000,0.002816,0.230791,-0.205231,0.086195,0.038650
smoker,0.085721,0.005929,0.002816,1.000000,-0.032653,-0.054921,-0.133178,-0.016542
day,0.173693,0.135499,0.230791,-0.032653,1.000000,-0.874366,0.165350,0.151017
time,-0.183118,-0.121629,-0.205231,-0.054921,-0.874366,1.000000,-0.103411,-0.146984
size,0.598315,0.489299,0.086195,-0.133178,0.165350,-0.103411,1.000000,0.382977
tips_range,0.552709,0.819474,0.038650,-0.016542,0.151017,-0.146984,0.382977,1.000000

In [27]:
print("For smoker and non smoker")
print(df['smoker'].value_counts())
print("For Gender :  ")
print(df['sex'].value_counts())
print("For day")
print(df['day'].value_counts())

For smoker and non smoker
smoker
0    151
1     93
Name: count, dtype: int64
For Gender :
sex
1    157
0     87
Name: count, dtype: int64
For day
day
2    87
3    76
0    62
1    19
Name: count, dtype: int64

In [28]:
print("for time")
print(df['time'].value_counts())
print("for size of members")
print(df['size'].value_counts())
print("for size of tips range")
print(df['tips_range'].value_counts())

for time
time
0    176
1     68
Name: count, dtype: int64
for size of members
size
2    156
3     38
4     37
5      5
1      4
6      4
Name: count, dtype: int64
for size of tips range
tips_range
1    148
0     78
2     18
Name: count, dtype: int64

In [29]:
df[['total_bill', 'tip', 'size']].corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [30]:
df.cov()

,total_bill,tip,sex,smoker,day,time,size,tips_range
total_bill,79.252939,8.323502,0.619041,0.371388,1.787153,-0.732404,5.065983,2.845130
tip,8.323502,1.914455,0.059013,0.003992,0.216686,-0.075609,0.643906,0.655624
sex,0.619041,0.059013,0.230368,0.000658,0.128027,-0.044256,0.039348,0.010727
smoker,0.371388,0.003992,0.000658,0.236845,-0.018367,-0.012008,-0.061644,-0.004655
day,1.787153,0.216686,0.128027,-0.018367,1.335813,-0.454024,0.181761,0.100924
time,-0.732404,-0.075609,-0.044256,-0.012008,-0.454024,0.201848,-0.044188,-0.038184
size,5.065983,0.643906,0.039348,-0.061644,0.181761,-0.044188,0.904591,0.210619
tips_range,2.845130,0.655624,0.010727,-0.004655,0.100924,-0.038184,0.210619,0.334345

In [31]:
df['tip'].sort_values(ascending=False)

170    10.00
212     9.00
23      7.58
59      6.73
141     6.70
       ...
0       1.01
111     1.00
92      1.00
67      1.00
236     1.00
Name: tip, Length: 244, dtype: float64

In [32]:
df['total_bill'].sort_values(ascending=False)

170    50.81
212    48.33
59     48.27
156    48.17
182    45.35
       ...
149     7.51
111     7.25
172     7.25
92      5.75
67      3.07
Name: total_bill, Length: 244, dtype: float64

In [33]:
df['size'].sort_values(ascending=False)

156    6
141    6
143    6
125    6
187    5
      ..
236    2
111    1
82     1
67     1
222    1
Name: size, Length: 244, dtype: int64

#### {'Male':1,'Female':0}
#### {'Yes':1,'No':0}
#### {'Thur':0,'Fri':1,'Sat':2,'Sun':3}
#### {'Dinner':0,'Lunch':1}
#### {'Low':0,'Medium':1,'High':2}

In [34]:
df[(df['smoker']==1) & (df['time']==1)]

     total_bill   tip  sex  smoker  day  time  size tips_range
80        19.44  3.00    1       1    0     1     2          1
83        32.68  5.00    1       1    0     1     2          1
138       16.00  2.00    1       1    0     1     2          0
191       19.81  4.19    0       1    0     1     2          1
192       28.44  2.56    1       1    0     1     2          1
193       15.48  2.02    1       1    0     1     2          1
194       16.58  4.00    1       1    0     1     2          1
196       10.34  2.00    1       1    0     1     2          0
197       43.11  5.00    0       1    0     1     4          1
198       13.00  2.00    0       1    0     1     2          0
199       13.51  2.00    1       1    0     1     2          0
200       18.71  4.00    1       1    0     1     3          1
201       12.74  2.01    0       1    0     1     2          1
202       13.00  2.00    0       1    0     1     2          0
203       16.40  2.50    0       1    0     1     2          1
204       20.53  4.00    1       1    0     1     4          1
205       16.47  3.23    0       1    0     1     3          1
220       12.16  2.20    1       1    1     1     2          1
221       13.42  3.48    0       1    1     1     2          1
222        8.58  1.92    1       1    1     1     1          0
224       13.42  1.58    1       1    1     1     2          0
225       16.27  2.50    0       1    1     1     2          1
226       10.09  2.00    0       1    1     1     2          0

In [35]:
df[(df['smoker']==1) & (df['time']== 0)]

     total_bill   tip  sex  smoker  day  time  size tips_range
56        38.01  3.00    1       1    2     0     4          1
58        11.24  1.76    1       1    2     0     2          0
60        20.29  3.21    1       1    2     0     2          1
61        13.81  2.00    1       1    2     0     2          0
62        11.02  1.98    1       1    2     0     2          0
..          ...   ...  ...     ...  ...   ...   ...        ...
234       15.53  3.00    1       1    2     0     2          1
236       12.60  1.00    1       1    2     0     2          0
237       32.83  1.17    1       1    2     0     2          0
240       27.18  2.00    0       1    2     0     2          0
241       22.67  2.00    1       1    2     0     2          0

[70 rows x 8 columns]

In [36]:
df[(df['smoker']==0) & (df['time']== 0)]

     total_bill   tip  sex  smoker  day  time  size tips_range
0         16.99  1.01    0       0    3     0     2          0
1         10.34  1.66    1       0    3     0     3          0
2         21.01  3.50    1       0    3     0     3          1
3         23.68  3.31    1       0    3     0     2          1
4         24.59  3.61    0       0    3     0     4          1
..          ...   ...  ...     ...  ...   ...   ...        ...
235       10.07  1.25    1       0    2     0     2          0
238       35.83  4.67    0       0    2     0     3          1
239       29.03  5.92    1       0    2     0     3          2
242       17.82  1.75    1       0    2     0     2          0
243       18.78  3.00    0       0    0     0     2          1

[106 rows x 8 columns]

In [37]:
df[(df['smoker']== 0) & (df['time']== 1)]

     total_bill   tip  sex  smoker  day  time  size tips_range
77        27.20  4.00    1       0    0     1     4          1
78        22.76  3.00    1       0    0     1     2          1
79        17.29  2.71    1       0    0     1     2          1
81        16.66  3.40    1       0    0     1     2          1
82        10.07  1.83    0       0    0     1     1          0
84        15.98  2.03    1       0    0     1     2          1
85        34.83  5.17    0       0    0     1     4          2
86        13.03  2.00    1       0    0     1     2          0
87        18.28  4.00    1       0    0     1     2          1
88        24.71  5.85    1       0    0     1     2          2
89        21.16  3.00    1       0    0     1     2          1
117       10.65  1.50    0       0    0     1     2          0
118       12.43  1.80    0       0    0     1     2          0
119       24.08  2.92    0       0    0     1     4          1
120       11.69  2.31    1       0    0     1     2          1
121       13.42  1.68    0       0    0     1     2          0
122       14.26  2.50    1       0    0     1     2          1
123       15.95  2.00    1       0    0     1     2          0
124       12.48  2.52    0       0    0     1     2          1
125       29.80  4.20    0       0    0     1     6          1
126        8.52  1.48    1       0    0     1     2          0
127       14.52  2.00    0       0    0     1     2          0
128       11.38  2.00    0       0    0     1     2          0
129       22.82  2.18    1       0    0     1     3          1
130       19.08  1.50    1       0    0     1     2          0
131       20.27  2.83    0       0    0     1     2          1
132       11.17  1.50    0       0    0     1     2          0
133       12.26  2.00    0       0    0     1     2          0
134       18.26  3.25    0       0    0     1     2          1
135        8.51  1.25    0       0    0     1     2          0
136       10.33  2.00    0       0    0     1     2          0
137       14.15  2.00    0       0    0     1     2          0
139       13.16  2.75    0       0    0     1     2          1
140       17.47  3.50    0       0    0     1     2          1
141       34.30  6.70    1       0    0     1     6          2
142       41.19  5.00    1       0    0     1     5          1
143       27.05  5.00    0       0    0     1     6          1
144       16.43  2.30    0       0    0     1     2          1
145        8.35  1.50    0       0    0     1     2          0
146       18.64  1.36    0       0    0     1     3          0
147       11.87  1.63    0       0    0     1     2          0
148        9.78  1.73    1       0    0     1     2          0
149        7.51  2.00    1       0    0     1     2          0
195        7.56  1.44    1       0    0     1     2          0
223       15.98  3.00    0       0    1     1     3          1

In [38]:
## smoker time
df[(df['smoker']==1) & (df['time']==1)]['tips_range'].value_counts()

tips_range
1    15
0     8
2     0
Name: count, dtype: int64

In [39]:
df[(df['smoker']==1) & (df['time']== 0)]['tips_range'].value_counts()

tips_range
1    42
0    22
2     6
Name: count, dtype: int64

In [40]:
df[(df['smoker']==0) & (df['time']== 0)]['tips_range'].value_counts()

tips_range
1    70
0    27
2     9
Name: count, dtype: int64

In [41]:
df[(df['smoker']== 0) & (df['time']== 1)]['tips_range'].value_counts()

tips_range
0    21
1    21
2     3
Name: count, dtype: int64

#### memnber size and time

##### size : [2 3 4 1 6 5]

In [42]:
df[(df['size']==2) & (df['time']== 1)]['tips_range'].value_counts()

tips_range
0    26
1    25
2     1
Name: count, dtype: int64

In [43]:
def membersize_dinner_tips(df):
    for size in sorted(df[df['time'] == 1]['size'].unique()):
        counts = df[
            (df['size'] == size) & (df['time'] == 1)
        ]['tips_range'].value_counts()

        print(f"\nMember size {size} visited in Dinner:")
        print(counts)
membersize_dinner_tips(df)

Member size 1 visited in Dinner:
tips_range
0    2
1    0
2    0
Name: count, dtype: int64

Member size 2 visited in Dinner:
tips_range
0    26
1    25
2     1
Name: count, dtype: int64

Member size 3 visited in Dinner:
tips_range
1    4
0    1
2    0
Name: count, dtype: int64

Member size 4 visited in Dinner:
tips_range
1    4
2    1
0    0
Name: count, dtype: int64

Member size 5 visited in Dinner:
tips_range
1    1
0    0
2    0
Name: count, dtype: int64

Member size 6 visited in Dinner:
tips_range
1    2
2    1
0    0
Name: count, dtype: int64

In [44]:
def membersize_dinner_tips(df):
    for size in sorted(df[df['time'] == 1]['size'].unique()):
        counts = df[
            (df['size'] == size) & (df['time'] == 0)
        ]['tips_range'].value_counts()

        print(f"\nMember size {size} visited in Lunch:")
        print(counts)
membersize_dinner_tips(df)

Member size 1 visited in Lunch:
tips_range
0    2
1    0
2    0
Name: count, dtype: int64

Member size 2 visited in Lunch:
tips_range
1    65
0    37
2     2
Name: count, dtype: int64

Member size 3 visited in Lunch:
tips_range
1    25
0     5
2     3
Name: count, dtype: int64

Member size 4 visited in Lunch:
tips_range
1    19
2     9
0     4
Name: count, dtype: int64

Member size 5 visited in Lunch:
tips_range
1    2
0    1
2    1
Name: count, dtype: int64

Member size 6 visited in Lunch:
tips_range
1    1
0    0
2    0
Name: count, dtype: int64

In [45]:
for size, count in df['size'].value_counts().items():
    print(f"Size {size} â†’ Count {count}")

Size 2 â†’ Count 156
Size 3 â†’ Count 38
Size 4 â†’ Count 37
Size 5 â†’ Count 5
Size 1 â†’ Count 4
Size 6 â†’ Count 4

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    int64
 3   smoker      244 non-null    int64
 4   day         244 non-null    int64
 5   time        244 non-null    int64
 6   size        244 non-null    int64
 7   tips_range  244 non-null    category
dtypes: category(1), float64(2), int64(5)
memory usage: 13.8 KB

In [48]:
visitors_per_day = df.groupby('day')['size'].sum().sort_values(ascending=False)
print(visitors_per_day)

day
2    219
3    216
0    152
1     40
Name: size, dtype: int64

#### {'Male':1,'Female':0}
#### {'Yes':1,'No':0}
#### {'Thur':0,'Fri':1,'Sat':2,'Sun':3}
#### {'Dinner':0,'Lunch':1}
#### {'Low':0,'Medium':1,'High':2}

In [49]:
visitors_day_gender = df.groupby(['day', 'sex'])['size'].sum().unstack()
print(visitors_day_gender)

sex   0    1
day
0    79   73
1    19   21
2    63  156
3    53  163

In [50]:
tips_by_gender = df.groupby('sex')['tip'].sum().sort_values(ascending=False)
print(tips_by_gender)

sex
1    485.07
0    246.51
Name: tip, dtype: float64

In [51]:
max_tip_person = df.loc[df['tip'].idxmax()]
print(max_tip_person)

total_bill    50.81
tip           10.00
sex            1.00
smoker         1.00
day            2.00
time           0.00
size           3.00
tips_range     2.00
Name: 170, dtype: float64

In [52]:
sales_per_day = df.groupby('day')['total_bill'].sum().sort_values(ascending=False)
print(sales_per_day)

day
2    1778.40
3    1627.16
0    1096.33
1     325.88
Name: total_bill, dtype: float64

In [53]:
day_map = {0:'Thur', 1:'Fri', 2:'Sat', 3:'Sun'}
sex_map = {0:'Female', 1:'Male'}

df['day_name'] = df['day'].map(day_map)
df['sex_name'] = df['sex'].map(sex_map)

In [54]:
df.groupby('day_name')['total_bill'].sum()

day_name
Fri      325.88
Sat     1778.40
Sun     1627.16
Thur    1096.33
Name: total_bill, dtype: float64